{% extends "base.html" %}
{% load staticfiles %}

{% block sitescripts %}
<script type="text/javascript">
	function run() {
	var v = [1,2];
	var fd = new FormData();
	$.each(v, function(idx, e) {
		fd.append('v', e);
	});
	$.ajax({
		url: '/plf/debug/',
		data: fd,
		contentType: false,
		processData: false,
		type: "POST",
		success: function () { window.alert('ok'); }
	});
}
</script>
{% endblock %}

{%block body %}
	<div data-role="page">
	<div data-role="content">
			<a href="#" onclick="run() ; return false;">Run</a>
	</div>
	</div>
{%endblock %}
