{% extends "base.html" %}

{% block body %}

<div data-role="page" class="plf-small-page">
	<div data-role="header"><h2>{{site.name}}</h2></div>

	<div data-role="content">
		<strong>Choose your username and password and start sharing your stuff!</strong>

		{% include 'main/form_non_field_errors.html' with form=form only %}
		<form data-ajax="false" method="post" action="{% url 'main:invitation' token %}">
			{% csrf_token %}
			{{form.as_p}}
		
			<div class="plf-aside-left"><input type="submit" value="Go in!" /></div>
		</form>
	</div>
</div>

{% endblock %}
