{% extends "base.html" %}

{% block body %}

<div data-role="page" class="plf-small-page">
	<div data-role="header"><h2>{{site.name}}</h2></div>

	<div data-role="content">
		{% include 'main/form_non_field_errors.html' with form=form only %}

		<form data-ajax="false" method="post" action="{% url 'main:login' %}">
			{% csrf_token %}
			{{ form.as_p }}
			{# FIXME: This URL is hardcoded #}
			<input type="hidden" name="next" value="{{ next|default:"/" }}" />
			<div class="plf-aside-left"><input type="submit" value="Log in" /></div>
		</form>
		<div class="plf-clear">

		<p class="plf-help">Help: <a href="{% url 'main:recover' %}">Do you forget your password (or username)?</a></p>
	</div>
</div>

{% endblock %}
