{% extends "base.html" %}

{% block body %}
<div data-role="page" class="plf-small-page">
	<div data-role="header"><h2>{{site.name}}</div>
	<div data-role="content">An email has send to you with more instructions</div>
</div>
{% endblock %}
