{% extends "base.html" %}

{% block body %}

<div data-role="page" class="plf-small-page">
	<div data-role="header"><h2>{{site.name}</h2></div>

	<div data-role="content">
		{% include 'main/form_non_field_errors.html' with form=form only %}
		<form data-ajax="false" method="post" action="">
			{% csrf_token %}
			{{ form.as_p}}
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>

{% endblock %}
