<a href="{% url 'boards:detail' board.id %}"> 
	<div class="ui-li-heading">{{ board.name}}</div>
	<p class="ui-li-desc">{% if board.owner == user %}Owner{% else %}Member{% endif %}</p>
	<p class="ui-li-desc">
		Latest albums: {% for album in board.albums.all|slice:"3" %}
		{{album.name}}
		{% endfor %}
	</p>
</a>
