{% extends "base.html" %}
{% load staticfiles %}

{%block body %}
	<!--
	#create
	Dialog page: Create a new board
	-->
	<div data-role="page" id="create">
	<div data-role="header"><h2>Create a new board</h2></div>
		<div data-role="content">
			<form id="form-create" data-ajax="false" action="{% url 'boards:create' %}" method="POST">
				{% csrf_token %}
				{{form.as_p}}
			
				{% include 'dialog-buttons.html' with form='form-create' ok_theme='b' ok_val='Create' %}
			</form>
		</div>
	</div>

{%endblock %}
