{% extends "base.html" %}
{% load staticfiles %}

{%block body %}

<div data-role="page" id="board-{{board.id}}">
	{%include "header.html" %}
	<div data-role="content">
		<!-- Board metadata: title, icon, ... -->
		<h2>{{board.name}}</h2>

		<!-- Member list -->
		<ul data-role="listview" data-inset="true">
		{% for m in board.members.all %}
		<li>
			<h3>{{m.username}}</h3>
			<p>{% if m == board.owner %}Owner{% endif %}</p>

			{% if user == board.owner and m != user %}
			<form id="form-{{m.id}}" action="{% url 'boards:update' board.id %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="remove_members" value="{{m.id}}" />
			</form>
			<div style="width: auto;" class="ui-li-aside">
				<a href="#" data-role="button" data-icon="minus" data-theme="e" data-mini="true" onclick="
					$('form#form-{{m.id}}')[0].submit();
					return false;" >Remove</a>
			</div>
			{% endif %}
		</li>
		{% endfor %}
		</ul>

		<div class="plf-short" data-role="controlgroup"  data-type="horizontal">
			{% if is_owner %}
			<a  href="#add-members"
			    data-icon="plus" data-role="button" data-rel="dialog">Add friends</a>
			<a  href="#edit"
			    data-icon="edit" data-role="button" data-rel="dialog">Settings</a>
			{% endif %}
			<a href="#leave"
				data-icon="delete" data-role="button" data-rel="dialog">{{ is_owner|yesno:"Delete,Leave" }}</a>
			</a>
		</div>

	</div>
</div>

	<!--
	Page: Edit
	-->
	<div data-role="page" id="edit">
	<div data-role="header"><h2>Board settings</h2></div>
	<div data-role="content">
		<form id="form-edit" action="{% url 'boards:update' board.id %}" method="post">
			<label for="name-field">New name:</label>
			<input type="text" id="name-field" name="name" value="{{board.name}}" />
			{% csrf_token %}
		</form>
		{% include 'dialog-buttons.html' with form="form-edit" ok_theme="b" ok_val="Save" %}
	</div>
	</div>

	<!--
	Page: Add friends
	-->
	<div data-role="page" id="add-members">
	<div data-role="header"><h2>Add members</h2></div>
	<div data-role="content">
		<form id="form-add-members" action="{% url 'boards:update' board.id %}" method="post">
			{% csrf_token %}
			<textarea placeholder="Type some emails here…" name="add_members"></textarea>
		</form>
		{% include 'dialog-buttons.html' with form="form-add-members" ok_theme="b" ok_val="Add" %}
	</div>
	</div>

	<!--
	Page: delete
	-->
	<div data-role="page" id="leave">
	<div data-role="header"><h2>{{ is_owner|yesno:"Delete,Leave" }} this board?</h2></div>
	<div data-role="content">

		{% if is_owner %}
		<p><strong>Important:</strong>You are the owner of {{board.name}}.</p>
		<p>If you <strong>delete</strong> the board the other members will be unable to access board's albums</p>

		{% else %}

		<p>Are you sure to leave {{board.name}}?.</p>
		<p>You will be unable to access to the board albums</p>
		{% endif %}

		<form id="form-leave" action="{% url 'boards:leave' board.id %}" method="post">
			{% csrf_token %}
		</form>

		{% if is_owner %}
		{% include 'dialog-buttons.html' with form="form-leave" ok_theme="a" ok_val="Delete" %}
		{% else %}
		{% include 'dialog-buttons.html' with form="form-leave" ok_theme="a" ok_val="Leave" %}
		{% endif %}
	</div>
	</div>	

</div>


{%endblock %}
