{% extends "base.html" %}
{% load staticfiles %}

{%block body %}
	<script type="text/javascript">
	function leaveBoard(id, name, is_owner) {
		var text = '';
		if (is_owner) {
			text = 'You are the owner of '+name+'.' + 
				'If you close the board the other members will be unable to access board\'s albums';
		}
		else {
			text = 'Are you sure to leave '+name+'?';
		}

		if (window.confirm(text)) {
			$('#form-'+id)[0].submit();	
		}
	}
	</script>

	<!--
	#list
	Main page: List all user boards
	-->
	<div data-role="page" id="list">
	{%include "header.html" %}

	<div data-role="content">

		{% if board_list %}
			<h2>{{user.username}}, your boards:</h2>

			<ul data-role="listview" data-inset="true">
				{% for br in board_list %}
				<li>{% include 'boards/board_preview.html' with board=br user=user only %}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>You aren't member of any board. May be you should create a new one.</p>
		{% endif %}

		<div class="plf-aside-left">
			<a data-role="button" data-icon="plus" href="#create" data-rel="dialog">Create a new board</a>
		</div>
	</div>
	</div>


	<!--
	#create
	Dialog page: Create a new board
	-->
	<div data-role="page" id="create">
	<div data-role="header"><h2>Create a new board</h2></div>
		<div data-role="content">
			<form id="form-create" data-ajax="false" action="{% url 'boards:create' %}" method="POST">
				{% csrf_token %}
				{{form.as_p}}
			
				{% include 'dialog-buttons.html' with form='form-create' ok_theme='b' ok_val='Create' %}
			</form>
		</div>
	</div>

{%endblock %}
