{% extends "base.html" %}
{% load staticfiles %}

{%block body %}
<script type="text/javascript">

function leaveBoard(id, name, is_owner) {
	var text = '';
	if (is_owner) {
		text = 'You are the owner of '+name+'.' + 
			'If you close the board the other members will be unable to access board\'s albums';
	}
	else {
		text = 'Are you sure to leave '+name+'?';
	}

	if (window.confirm(text)) {
		$('#form-'+id)[0].submit();
	}
}
</script>

<div data-role="page" id="board-{{board.id}}">
	{%include "header.html" %}
	<div data-role="content">
		<!-- Board metadata: title, icon, ... -->
		<h2>{{board.name}}</h2>

		<!-- Member list -->
		<ul data-role="listview" data-inset="true">
		{% for m in board.members.all %}
		<li>
			<h3>{{m.username}}</h3>
			<p>{% if m == board.owner %}Owner{% endif %}</p>

			{% if user == board.owner and m != user %}
			<form id="form-{{m.id}}" action="{% url 'boards:update' board.id %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="remove_members" value="{{m.id}}" />
			</form>
			<div style="width: auto;" class="ui-li-aside">
				<a href="#" data-role="button" data-icon="minus" data-theme="e" data-mini="true" onclick="
					$('form#form-{{m.id}}')[0].submit();
					return false;" >Remove</a>
			</div>
			{% endif %}
		</li>
		{% endfor %}
		</ul>

		<div class="plf-short" data-role="controlgroup"  data-type="horizontal">
			{% if is_owner %}
			<a  href="#board-members-add"
			   data-mini="true" data-icon="plus" data-role="button" data-rel="dialog">Add more members</a>
			<a  href="#board-name-edit"
			   data-mini="true" data-icon="edit" data-role="button" data-rel="dialog">Ajustes</a>
			{% endif %}

			<a data-icon="delete" data-role="button" data-mini="true" href="{% url 'boards:leave' board.id %}">
			{{ is_owner|yesno:"Delete,Leave" }}
			</a>
		</div>

	</div>
</div>


<div data-role="page" id="board-name-edit">
	<div data-role="header"><h2>Change name</h2></div>
	<div data-role="content">
		<form id="title-edit-form" action="{% url 'boards:update' board.id %}" method="post">
			{% csrf_token %}
			<input id="name-edit-field" type="text" value="{{board.name}}" name="name"></textarea>
		</form>
		<a data-role="button" data-theme="b" href="#" onclick="$('form#title-edit-form')[0].submit(); return false;">Save</a>
	</div>
</div>

<div data-role="page" id="board-members-add">
	<div data-role="header"><h2>Add members</h2></div>
	<div data-role="content">
		<form id="add-members" action="{% url 'boards:update' board.id %}" method="post">
			{% csrf_token %}
			<textarea placeholder="Type some emails here…" name="add_members"></textarea>
		</form>
		<a data-role="button" data-theme="b" href="#" onclick="$('form#add-members')[0].submit(); return false;">Add</a>
	</div>
</div>


{%endblock %}
