{% extends "base.html" %}
{% load staticfiles %}

{%block body %}
	<script type="text/javascript">
	function leaveBoard(id, name, is_owner) {
		var text = '';
		if (is_owner) {
			text = 'You are the owner of '+name+'.' + 
				'If you close the board the other members will be unable to access board\'s albums';
		}
		else {
			text = 'Are you sure to leave '+name+'?';
		}

		if (window.confirm(text)) {
			$('#form-'+id)[0].submit();	
		}
	}
	</script>

	<!--
	#boards
	Main page: List all user boards
	-->
	<div data-role="page" id="boards">
	{%include "header.html" %}
	<div data-role="content">
		<h2>{{user.username}}, your boards:</h2>


		<ul data-role="listview" data-inset="true">
		{% for br in boards %}
		<li>
			<a href="{% url 'boards:detail' br.id%}">
				<h3 class="ui-li-heading">{{ br.name}}</h3>
				<p class="ui-li-desc">{% if br.owner == user %}Owner{% else %}Member{% endif %}</p>
			</a>
		</li>
		{% endfor %}
		</ul>

		<a class="plf-short" data-mini="true" data-role="button" data-icon="plus" href="#board-new" data-rel="dialog">Create new board</a>
	</div>
	</div>


	<!--
	#board-new
	Dialog page: Create a new board
	-->
	<div data-role="page" id="board-new">
	<div data-role="header"><h2>New board</h2></div>
		<div data-role="content">
			<form id="form-board-new" data-ajax="false" action="{% url 'boards:new' %}" method="POST">
				{% csrf_token %}
				{{form.as_table}}
			
			<div class="ui-grid-a">
				<div class="ui-block-a"><a data-role="button" href="#" data-rel="back">Cancel</a></div>
				<div class="ui-block-b"><input data-theme="b" type="submit" value="Create" /></div>
			</div>
			</form>
		</div>
	</div>

{%endblock %}
