{% extends "base.html" %}
{% load staticfiles %}

{%block body %}
<script type="text/javascript">
function submitForm(id, prefix) {
	if (typeof(prefix) === undefined) {
		prefix = 'form-';
	}

	$('#' + prefix + id)[0].submit();
	return false;
}
</script>

<div data-role="page" id="board-{{board.id}}">
	{%include "header.html" %}
	<div data-role="content">
		<form action="{% url 'boards:new' %}" method="POST">
			{% csrf_token %}
			{{form.as_table}}
			<input type="submit" value="Create" />
		</form>
	</div>
</div>
{%endblock %}
