{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{site.name}}</title>

	<meta name='viewport' content='maximum-scale=1.0,width=device-width,initial-scale=1.0,target-densitydpi=device-dpi'>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
	<link rel="stylesheet" href="{% static "base.css" %}" />
	{% block sitestylesheets %}{% endblock %}

	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
	<script type="text/javascript">
		$('body').live('pageinit', function () { $.mobile.ajaxEnabled = false; });
	</script>
	{% block sitescripts %}{% endblock %}

</head>

<body>
	{% block body %}{% endblock %}
</body>
</html>
