<div class="ui-grid-a">
	<div class="ui-block-a">
		<a data-role="button" href="#" data-rel="back">{{ cancel_val|default:"Cancel" }}</a>
	</div>

	<div class="ui-block-b">
		<a data-role="button"
			{% if url %}href="{{url}}"{% endif %}
			{% if form %}href="#" onclick="$('form#{{form}}').submit(); return;"{% endif %}
			{% if ok_theme %}data-theme="{{ok_theme}}"{% endif %}
			>{{ ok_val|default:"OK"}}</a>
	</div>
</div>
