{% if user.is_authenticated %}
<div id="header" data-role="header">
	<div id="header-inner">
		{# FIXME: Link to user profile #}
		<div id="greeting">Hello <a href="#">{{user.username}}</a></div>
		<ul id="navbar">
			<li><a href="{%url 'front' %}">Home</a></li>
			<li><a href="{%url 'boards:list' %}">Boards</a></li>
			<li><a href="{% url 'photocms:upload' %}">Upload</a></li>
			<li><a href="{% url 'main:logout' %}">Logout</a></li>
		</ul>
	</div><!-- /#header-inner -->
</div><!-- /#header-->
{% endif %}
