{% extends "base.html" %}
{% load staticfiles %}
{% load thumbs %}

{% block sitestylesheets %}
<link rel="stylesheet" href="{% static "photoswipe-3.0.5/photoswipe.css" %}" />
{% endblock %}

{% block sitescripts %}
<script type="text/javascript" src="{% static "photoswipe-3.0.5/lib/klass.min.js" %}" ></script>
<script type="text/javascript" src="{% static "photoswipe-3.0.5/code.photoswipe.jquery-3.0.5.min.js" %}" ></script>
<script type="text/javascript">
$('#detail').live('pageinit', function () {
	$.mobile.ajaxEnabled = false;
	var myPhotoSwipe = $(".album-item a").photoSwipe({ enableMouseWheel: false , enableKeyboard: true});
});
</script>
{%endblock%}

{%block body %}
	<div data-role="page" id="detail">
	{%include "header.html" %}
	<div data-role="content">
	
		<div class="album">

			<div class="ui-grid-a album-header">
				<div class="ui-block-a album-cover-wrap"><img src="{{album.cover.file|thumb:'square'}}" /></div>
				<div class="ui-block-b">
					<h2 class="album-title">{{album.name}}</h2>
					<div class="album-owner">{{album.owner.username}} - {{album.pub_date}}</div>
				</div>
			</div>

			<div class="album-operations" data-role="controlgroup" data-mini="true" data-type="horizontal">
				{% if 'access' in operations %} <a data-icon="arrow-d" data-role="button" href="{{album.archive_url}}">Download</a> {% endif %}
				{% if '-edit' in operations %} <a data-icon="plus" data-role="button" href="">Upload</a> {% endif %}
				{% if '-edit' in operations %} <a data-icon="edit" data-role="button" href="{% url 'photocms:edit' album.id %}">Edit</a> {% endif %}
				{% if 'all' in operations %} <a data-icon="forward" data-role="button" data-rel="dialog" href="#share">Share</a> {% endif %}
				{% if 'all' in operations %} <a data-icon="delete" data-role="button" data-rel="dialog" href="#delete">Delete</a> {% endif%}
			</div>


			<div class="ui-grid-c album-items">
			{% for item in album.items.all %}
				<div class="ui-block-{% cycle 'a' 'b' 'c' 'd' %} album-item">
					<div class="plf-image-link-wrapper"><a href="{{item.file|thumb:'medium'}}"><img src="{{item.file|thumb:'square'}}" /></a></div>
				</div>
			{% endfor %}
			</div>
		</div>
	
	</div>
	</div>

	<!--
	Page: share
	-->
	<div data-role="page" id="share" >
	<div data-role="header"><h2>Share `{{album.name}}'</h2></div>
	<div data-role="content">
		<form method="POST" id="form-share" action="{% url "photocms:share" album.id %}">
		{% csrf_token %}
		{% include "photocms/album_boards_edit.html" with available=user.boards.all enabled=album.boards.all %}
		</form>

		{% include "dialog-buttons.html" with form="form-share" ok_theme="b" ok_val="Share" only %}
	</div>
	</div>

	<!--
	Page: Delete
	-->
	<div data-role="page" id="delete" >
	<div data-role="header"><h2>Delete album `{{album.name}}'?</h2></div>
	<div data-role="content">
		<p>All photos and videos will be erased, friends with access permission will also lost access to them.<br />
	    This action <strong>can't</strong> be undone</p>

	    <form id="form-delete" action="{% url 'photocms:delete' album.id%}" method="POST" data-ajax="false" >
		{% csrf_token %}
	    </form>

		{% include "dialog-buttons.html" with form="form-delete" ok_theme="a" ok_val="Delete. I'm sure" only %}
	</div>
	</div>

{%endblock %}
