{% load thumbs %}

<!-- Rich content for desktop -->
<!--
<div class="post-preview">
	<h2 class="title"><a href="{{album.get_absolute_url}}">{{album.name}}</a></h2>
	<div class="post-meta">
		Posted by {{album.owner.username}} on {{album.pub_date}}
	</div>


	<div class="album-cover">
		<img src="{{album.get_cover.file|thumb:'wide'}}" />
	</div>

	<div class="ui-grid-c album-mosaic">
		{% for s in album.get_sample|slice:"4" %}
		<div class="ui-block-{% cycle 'a' 'b' 'c' 'd' %}"><img src="{{s.file|thumb:'square'}}" /></div>
		{% endfor %}
	</div>
</div>
-->

<!-- Bandwidth friendly version -->
<a href="{{album.get_absolute_url}}">
	<img class="ui-li-thumb" width="200px" src="{{album.cover.file|thumb:'square'}}" />
	<div class="ui-li-heading">{{album.name}}</div>
	<p class="ui-li-count">{{album.items.all|length}} items</p>
</a>


