{% extends "base.html" %}

{% block body %}
	<!--
	Index page
	-->
	<div id="page-list" data-role="page">
	{%include "header.html" with user=user %}
	<div data-role="content">

		{% if album_list %}
			<ul id="album-index-listview" data-role="listview" data-inset="true" data-filter="true">
			{% for album in album_list %}
				<li>
					{% include 'photocms/album_preview.html' with album=album only %}	
				</li>
			{% endfor %}
			</ul>
		{% else %}
		<p>Ups, there is nothing to show</p>
		{% endif %}
	</div>
	</div>
{% endblock %}

