
<fieldset data-role="controlgroup">
	<legend><h2>Share with:</h2></legend>
	{% for gr in available %}
	<label for="board-{{gr.id}}">{{gr.name}}</label>
	<input type="checkbox" name="boards" class="board-checkbox" id="board-{{gr.id}}" value="{{gr.id}}"
		{% if gr in enabled %} checked {% endif %} />
	{% endfor %}

	<div class="plf-help" id="private-post-alert">If no boards are selected the post will be private and nobody except you will see it</div>
</fieldset>

