{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{album.name}}{% endblock %}

{% block content %}
	<h1>Edit `{{ album.name}}'</h1>

	<form data-ajax="false" method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}



	<!-- Add more photos -->
	<label for="files">Add more images</label>
	<input type="file" name="files" accept="image/*" multiple="true" />
	
	<!-- Remove photos from current album -->
	<div class="thumbnails_wrapper" data-role="controlgroup">
	{% for item in album.items.all %}
		{% thumbnail item.file "200x200" crop="center" as th %}
		<label for="deleted-{{item.id}}"><img src="{{ th.url }}" /></label>
		{% endthumbnail %}
		<input type="checkbox" id="deleted-{{item.id}}" name="deleted-{{item.id}}" />
		<!-- <div class="state button" id="state-{{item.id}}">Keep/Reject</div> -->
	{% endfor %}
	</div>

	<input type="submit" value="Save" />
	</form>


{% endblock %}
