{% extends "base.html" %}
{% load staticfiles %}

{% block sitescripts %}
	<script src="{% static "upload.js" %}"></script>
	<script src="{% static "utils.js" %}"></script>

	<script type="text/javascript">


	function render(src, listViewItem) {
		var img = listViewItem.find('img')[0];
		img.onload = function () {
/*
			var src_x; var src_y;
			var src_w; var src_h;

			var min_ = Math.min(img.width, img.height);
	       		if (img.width > min_) {
				src_x = (img.width - min_) / 2;
				src_y = 0;
				src_w = min_;
				src_h = img.height;
			}
			else {
				src_x = 0;
				src_y = (img.height - min_) / 2;
				src_w = img.width;
				src_h = min_;
			}
*/

			var canvas = $('<canvas>').attr('width', '80px').attr('height', '80px')[0];
			var ctx = canvas.getContext('2d');
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			ctx.drawImage(img, 0, 0, img.width, img.height);
			img.onload = undefined;
			
/*
			ctx.drawImage(img,
				src_x, src_y,
				src_w, src_h,
				0, 0,
				canvas.width, canvas.height);
*/
			img.src = canvas.toDataURL();
		}
		img.src = src;
	}

	function loadImage(src, listViewItem) {
		var reader = new FileReader();
		reader.onload = function (ev) {
			render(ev.target.result, listViewItem);
		}
		reader.readAsDataURL(src);
	}

	function itemizeFile(file) {
		var html = '' +
			'<li class="ui-li-static">' +
		//	'   <img width=80px height=80px >' +
			'	<h2>'+file.name+'</h2>' + 
			'	<p class="upload-progress">'+humanizeSize(file.size)+'</p>' + 
			'</li>';
		var listViewItem = $(html);

		// loadImage(file, listViewItem);

		return listViewItem;
	}

	var loadingFilesTimeout = undefined;
	function onLoadFilesBegin() {
		window.loadingFilesTimeout = window.setTimeout(function() {
			$.mobile.changePage('#loading');
			loadingFilesTimeout = undefined;
		}, 3 * 1000);		
	}

	function onLoadFilesEnd() {
		if (loadingFilesTimeout) {
			window.clearTimeout(loadingFilesTimeout);
			loadingFilesTimeout = undefined;
		}		
		else {
			$.mobile.changePage('#main');

		}
		var nuploads = $('#upload-listview').find('.ui-li').length;
		$('#upload-listview-resume').html(nuploads+' files are ready for upload');
	}

	function onProgress(ev, file) {
		var percent = Math.min(
			Math.round((ev.loaded / ev.total) * 100),
			100);

		window.uploadApp
			.getListViewItemForFile(file)
			.find('.upload-progress')
			.html('<p>Uploaded '+percent+'% of '+humanizeSize(file.size)+'</p>');
	}


	function onItemCompleted(file) {
	}


	function onUploadCompleted(file) {
		window.location.replace(window.uploadApp.album.url);
	}

	$('#main').live('pageinit', function () {
		window.uploadApp = new Upload({
			'endPoint'          : '{%url 'photocms:upload' %}',
			'listView'          : $('#upload-listview'),
			'fileFieldsWrapper' : $('#upload-filefields-wrapper'),

			'itemizeFile'       : itemizeFile,
			'onLoadFilesBegin'  : onLoadFilesBegin,
			'onLoadFilesEnd'    : onLoadFilesEnd,
			'onProgress'        : onProgress,
			'onItemCompleted'   : onItemCompleted,
			'onUploadCompleted' : onUploadCompleted,
			'onFormBuild' : function(formdata) {
				formdata.append('name', $('#upload-name').val());
				$.each($('input[name=boards]:checked'), function(idx, e) {
					formdata.append('boards', $(e).val());
				});
				/* FIXME: For reference, this parameters will be userful 
				'extraParams' : {
					'csrf_token': '{{ csrf_token }}',
					'csrf_name': 'csrfmiddlewaretoken',
					'csrf_xname': 'X-CSRFToken',
				},
				*/
			},

		}).init();
	});

   function doUpload() {
       if ($('input[name=boards]:checked').length > 0) {
           window.uploadApp.upload();
       } else {
           $.mobile.changePage('#warning');
       } 
   }


	</script>
<style>
</style>
{% endblock %}


{%block body %}
	<div data-role="page" id="main">
	{%include "header.html" %}
	<div data-role="content">

	<div id="uploader">

		<label for="upload-name"><h2>Name:</h2></label>
		<input id="upload-name" type="text" name="name" />

		{% include "photocms/album_boards_edit.html" with available=user.boards.all only %}


		<div id="upload-listview-wrap">
		<h2>Files:</h2>
		<div data-role="collapsible" data-theme="" data-content-theme="c">
		    <h4><div id="upload-listview-resume">Heading</div></h4>
		    <ul id="upload-listview" data-role="listview"></ul>
		</div>
		</div>

		<div class="plf-pseudo-hidden" id="upload-filefields-wrapper">
		</div>

		<div id="actions-wrapper" data-role="controlgroup" data-type="horizontal">
			<a id="upload-append-button" href="#"
			   data-role="button" data-icon="plus" >Select photos</a>		
			<a id="upload-button" onclick="doUpload(); return false;" href="#"
			   data-role="button" data-icon="arrow-u">Upload</a>
		</div>

	</div>

	</div>
	</div>


	<!--
	Dialog: warning
	-->
	<div data-role="dialog" id="warning">
	<div data-role="header"><h2>There is a problem!</h2></div>
	<div data-role="content">
		<p>Uops, you didn't select any boards to share with!</p>
		<p>You must select at least one board</p>
		<a data-role="button" href="#" data-rel="back">Go back</a>
	</div>
	</div>


	<!--
	Dialog: upload
	-->
	<div data-role="dialog" id="loading" data-close-btn="none">
	<div data-role="header"><h2>Please wait</h2></div>
	<div data-role="content">
		<p>Your device is loading selected files.</p>
		<p>Anyway, you can close this window safely</p>
		<div class="plf-help">Depending of the device and the number and size of files this can take from seconds to few minutes. Please be patient</p></div>
	</div>
	</div>



<script type="text/javascript">
function syncUi () {
	if ($('#upload-listview').find('li').length) {
		$('#upload-listview-wrap').show();
		$('#upload-button').show();
		$('#actions-wrapper').controlgroup();
	}
	else {
		$('#upload-listview-wrap').hide();
		$('#upload-button').hide();
		// Using controlgroup inmediatly has no efect
		setTimeout(function () {
			$('#actions-wrapper').controlgroup();
		}, 1);
	}
}

function onBoardCheckboxChange (ev) {
c.change(function () { console.log(arguments); });
}

$('#upload-append-button').live('click', 'button',function() {
    $('.current-filefield').find('input[type=file]').click();
});

$('input[type=file]').live('change', syncUi);

syncUi();


</script>


{% endblock %}
