/*
 * Some rules to adjust the width of the pages
 * In addition to standard jqm style there is the .plf-small-page
 * for use in pages like login, reset, password, recovery... 
 */
.ui-page .ui-content,
.ui-page #header-inner {
	max-width: 960px;
	margin: auto;
}

.ui-page.plf-small-page .ui-content {
	max-width: 320px;
	margin: auto;
}


#header {
	overflow: auto;
	font-size: 14px;
}


#header ul,
#header #greeting {
	margin: 0;
	padding: 0;
}

#navbar li {
    display: inline-block;
}


#header a
{
	display: inline-block;
	padding: 16px 16px;
	text-decoration: none;

}

#header a:hover {
	text-decoration:underline;
}

#header-inner {
	padding: 0 15px;
}

@media (min-width: 320px) {
	#header #greeting {
		float: left;
	}
	#header #navbar {
		float: right;
	}
	.plf-aside-left {
		float: left;
		width: auto;
	}
}

@media (max-width: 320px) {
	#header #greeting,
	#header #navbar {
		float: none;		
	}

	.plf-aside-left {
		float: none;
		width: 100%;
	}
}

/* Artifacts for images */

/*
  FIXME: This leaves some space before the first column and after the last one
*/
.plf-image-link-wrapper
{
	padding: 2%;
}

/* Fix margin-bottom for image links */
/*
.album-item a {

}
*/

/* Auto resizable images for album's preview and detail views */

.album-cover img,
.album-mosaic img,
.album-items img,
.album-header img
{
	width: 100%;
    height: auto;
	line-height: 0;
	display: block;
}

/* Album header grid */
.album-header.ui-grid-a .ui-block-a {
	width: 25%;
}

.album-header.ui-grid-a .ui-block-b {
	width: 75%;
}

.plf-header h2,
.plf-header h3 {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.plf-header .plf-aside-right {
	float: right;
	width: auto;
}

.plf-short.ui-btn {
	width: auto;
	float: left;
	clear: both;
}

.plf-submit-btn {
	margin-top: 2em;
}

.plf-clear {
	clear: both;
}


/* Hide an element without using display: none; */
.plf-pseudo-hidden {
   width: 0px;
   height: 0px;
   overflow: hidden;
}

/* Help text elements */
.plf-help {
  font-size: 75%;
  font-style: italic;
}

.plf-help:before {
	content: "» ";
}


/*
 * Posts previews
 */
.post-preview .title {
	margin-bottom: 0;
	font-size: 2em;
	text-decoration: none;
}
